* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  min-width:640px !important;
}

.main {
  width: 850px;
  float:left;
}
#form {
  float:left;
  padding-left: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 2%;
  border-left: 2px solid rgba(159, 153, 150,0.6);
}

@keyframes scale {
  from { width: 200px; }
  to   { width: 100px; }
}

/* button, input.button {
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  background-color: #046A8E;
  color: white;
  border-radius: 2px;
  padding: 10px;
} */

.speedBox {
  width: 400px;
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px 10px;
  margin-left:0px;
}

#izdajalci {
  font-weight: bold;
  color: rgba(179, 0, 0,0.8);;
}

#zvesti {
  font-weight: bold;
  color: rgba(1,163,217,0.8);
}


.rng {
  outline: 0;
  border: 0;
  border-radius: 500px;
  width: 180px;
  max-width: 100%;
  margin: 24px 0;
  transition: box-shadow 0.2s ease-in-out;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .rng {
    overflow: hidden;
    height: 20px;
    -webkit-appearance: none;
    background-color: #ddd;
  }
  .rng::-webkit-slider-runnable-track {
    height: 20px;
    -webkit-appearance: none;
    color: #444;
    margin-top: 0px;
    transition: box-shadow 0.2s ease-in-out;
  }
  .rng::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height:20px;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -330px 0 0 320px #1597ff, inset 0 0 0 40px #1597ff;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
  }
  .rng:active::-webkit-slider-thumb {
    background: #fff;
    box-shadow: -330px 0 0 320px #1597ff, inset 0 0 0 3px #1597ff;
  }
}
.rng::-moz-range-progress {
  background-color: #43e5f7;
}
.rng::-moz-range-track {
  background-color: #9a905d;
}
.rng::-ms-fill-lower {
  background-color: #43e5f7;
}
.rng::-ms-fill-upper {
  background-color: #9a905d;
}

svg text {
  font-family: FontAwesome;
  font-style: normal;
  font-size: 16px; 
  fill: white;
}