* { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background: #EEF5FD;
    color: #545556;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    width: auto !important;
    margin: 0;
  }
.vodo {
    display: inline-block;
}
.vodoTb{
    display: inline-block;
}
table {
    text-align: center;
    border-collapse: collapse;
    margin-top: 10px;
    white-space:pre-wrap; 
    word-wrap:break-word;
    margin-right: 10px;
    margin-left: 10px;
}
.skupi {
    margin-left: 2%;
}
.poskusi {
    margin-top: 20px;
    /*position: absolute;
    display: block;*/
}
.prostor {
    padding-left: 20px;
    width: 100%-20px;
}
.mrg{
    margin: 20px;
}