html * { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }


h1 {
    text-align: center;
    font-size: 110%;
}
form .section {
    /*background-color: rgba(1,163,217,0.8);
    padding: 5pt;
    border-radius: 5pt;*/
    margin: none;
}
form table {
    border-collapse: collapse;
}
form input {
    font-family: inherit;
    font-size: inherit;
}
form #charset label:hover {
    background-color: rgba(1,163,217,0.5);
}
form #charset td {
    padding: 0em;
    vertical-align: middle !important;
    text-align: left !important;
    border: none;
    font-weight: normal !important;
}
form #charset input[type=checkbox] {
    margin: 0em;
}
td {
    vertical-align: middle !important;
    text-align: left !important;
    border: none !important;
    padding:0;
    font-weight: normal !important;
}
form #charset label {
    margin-left: 0.2em;
    padding: 0.1em 0.3em 0.1em 0.3em;
    border-radius: 0.2em;
}
form #charset small {
    font-size: 100%;
}
form #type td {
    padding: 0.2em 0em;
    vertical-align: middle;
    text-align: left;
}
form #type input[type=number] {
    text-align: right;
}

form #password {
    width: 10em;
    margin-left: 0.3em;
    padding: 0.1em 0.3em;
    background-color: #F8F8F8;
    border-radius: 0.2em;
    font-family: "Consolas", monospace;
}
p.lowlight {
    color: #A0A0A0;
}
hr {
    border: none;
    border-top: 0.05em solid #000000;
    border-color: solid #000000 !important;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#bExtraInfoDiv{
    width: 20pt;
    height: 200pt;
    padding: 2pt;
}

#toggleExtraInfoDiv{
    margin-bottom: 5pt;
}
table {
    line-height:1.5;
}

.container-fluid{
    display: inline-block;
    padding: 10pt;
    margin: 0;
    background-color: rgba(1,163,217,0.1);
    width:100%;
    border-style: solid;
    border-color: lightgray;
}
body{
    font-size:90%;
}

.btn-primary {
    background-color: rgba(1,163,217,0.5) !important;
    color: black !important;
  }

  .btn-primary:hover {
    background-color: rgba(1,163,217,1) !important;
  }
  
#choice {
    vertical-align: middle !important;
    text-align: left !important;
    border: none;
    padding:0;
    margin:0;
}