<template>
  <div class="section">
    <div class="container">
      <h1 class="title">Bipolarno kodiranje</h1>

      <div class="content">
      <p>Linijsko kodiranje je način kodiranja in vrsta modulacije, tj. način analognega kodiranja digitalnega signala. Definiramo ga lahko kot vzorec električne napetosti, električnega toka ali fotonov za predstavitev podatkov, ki se pošiljajo po omrežju. Pri linijskem kodiranju se nosilni signal ne spreminja, temveč se spreminja ena izmed fizikalnih količin (električna napetost ali električni tok).
        Poznamo več vrst linijskega kodiranja: unipolarno, polarno, bipolarno ter Manchestersko kodiranje. Vse vrste zadostijo naslednjim pogojem:</p>

        <p>1.zmanjšati količino strojne opreme za prenos podatkov</p>
        <p>2.olajšati časovno sinhronizacijo</p>
        <p>3.zagotoviti enostavno odkrivanje in odpravljanje napak</p>
        <p>4.doseči ciljno sprektralno gostoto</p>
        <p>5.odpraviti komponento enosmernega toka (morda odveč)</p>


      <p>Bipolarne linijske kode imajo 2 polarnosti, podatke pa se kodira s tremi vrednostmi: +, - in številom 0. Bipolarne kode so tipa return-to-zero, kjer se signal ob nedejavnosti kanala zadržuje na vrednosti 0, med samim prenašanjem podatkov pa preide na + vrednost ob pozivitni električni napetosti in na - ob negativni.
        Eden izmed načinov bipolarnega kodiranja je AMI (Alternate Mark Inversion oz. nadomestna inverzija), pri čemer je binarna ničla predstavljena z 0 volti, binarna enica pa se izmenjava med pozitivno in negativno napetostjo (enkrat -1 voltov, nato 1 volt, potem zopet -1 voltov...)</p>

      <p>Na grafu je predstavljeno delovanje AMI linijske kode. Ura se spreminja s konstantno frekvenco, medtem ko se podatki kodirajo po AMI kodiranju. To pomeni, da se podatek 0 pošlje kot napetost 0 voltov, podatek 1 pa se izmenično kodira kot negativna/pozitivna napetost (npr. če stq prisotni 2 urini periodi, to pomeni, da bo v eni periodi nastopil kot pozitivna napetost in v drugi kot negativna napetost). Na interakciji je razvidno prenašanje števila 1337, ki se v dvojiškem zapisu zapiše kot 10100111001.</p>

      </div>
      <div class="is-fullwidth">
      <v-chart v-if="loaded" :options="bipolarEncodingClock"
               style="width: auto; margin: 0 auto;"
      />


        <v-chart v-if="loaded" :options="bipolarEncodingData"
                 style="width: auto; margin: 0 auto;"
        />


        <v-chart v-if="loaded" :options="bipolarEncodingAMI"
                 style="width: auto; margin: 0 auto;"
        />


      <br>
      </div>

    </div>

  </div>
</template>

<script>
import ECharts from "vue-echarts";

export default {
  name: 'HelloWorld',
  mounted() {
    this.generateClockSignal()
    this.generateData();
    this.generateAMI()
  },
  methods: {
    generateClockSignal() {
      let clock = [0,0,1,1]
      let signalState = 1;
      let highSignal = false;
      let switchingDir = true;
      this.bipolarEncodingClock.series[0].data.push([
        0, //moment(plotDataTotalTime[i].x)
        0,
        0
        // plotDataTotalTime[i].y[j]
      ]);
      let st = 1;
      for(let i = 0; i < [0,0,1,1,0,0,1,1,0,0,0,1,1,1,1,1,1,0,0,0,1,1,0,0,0,0,1,1,0,0,1,1,0,0,0,1,1,1,1,1,1,0,0,0,1,1].length; i++) {
        let x = st;
        let draw = clock[i%4]
        if (switchingDir == 1) {
          x -= 1
        }
        console.log(x)
        console.log(i, draw)
        this.bipolarEncodingClock.series[0].data.push([
          x, //moment(plotDataTotalTime[i].x)
          draw,
          0
          // plotDataTotalTime[i].y[j]
        ]);

        if (signalState == 2) {
          signalState = 0;
          highSignal = !highSignal;
          switchingDir = true;
        } else {
          switchingDir = false
        }
        signalState++
        st += 1
      }
    },
    generateData() {

      let data = [0,0,1,1,0,0,1,1,0,0,0,0,1,1,1,1,1,1,0,0,0,0,1,1,0]
      let switchingDir = false;
      let isEqual = false;
      let i = 0;
      while(i < data.length) {
        let x = i;
        let draw = data[x]

        if (i > 0 && data[i] != data[x-1]) {
          x = x-1;
        } else {
          isEqual = true;
        }



        console.log(i, draw, switchingDir, isEqual)
        this.bipolarEncodingData.series[0].data.push([
          x, //moment(plotDataTotalTime[i].x)
          draw,
          0
          // plotDataTotalTime[i].y[j]
        ]);

        i++;

      }

    },
    generateAMI() {

      let ami = [0,0,1,1,0,0,-1,-1,0,0,0,0,1,1,-1,-1,1,1,0,0,0,0,-1,-1,0]
      let signalState = 1;
      let highSignal = false;
      let switchingDir = false;
      for(let i = 0; i < ami.length; i++) {
        let x = i;
        if (i > 0 && ami[i] != ami[i-1]) {
          x -= 1;
        }

        let draw = ami[i]

        console.log(i, draw, switchingDir)
        this.bipolarEncodingAMI.series[0].data.push([
          x, //moment(plotDataTotalTime[i].x)
          draw,
          0
          // plotDataTotalTime[i].y[j]
        ]);

        if (signalState == 2) {
          signalState = 0;
          highSignal = !highSignal;
          switchingDir = true;
        } else {
          switchingDir = false
        }
        signalState++

      }

    }
  },
  data() {
    return {
      loaded: true,
      chartOptions: {},
      firstData: "Ura",
      bipolarEncodingClock: {
        title: {
          text: "Ura",
          // subtext: "Clock"
        },
        tooltip: {
          trigger: 'axis',
        },

        toolbox: {
          show: false,
          feature: {
            mark: { show: true },
            dataView: { show: false, readOnly: false, title: "Podatki" },
            restore: { show: true, title: "Ponastavi" },
            saveAsImage: { show: true, title: "Shrani" }
          }
        },
        dataZoom: {
          show: false,
          start: 0
        },
        legend: {
          data: ["Ura"]
        },
        grid: {
          y2: 50
        },
        xAxis: [
          {
            // type: "time",
            show: false,
            splitNumber: 0
          }
        ],
        yAxis: [
          {
            show: false,
            type: "value"
          }
        ],
        series: [
          {
            // name: "Clock",
            type: "line",
            // areaStyle: {},
            smooth: false,
            showAllSymbol: true,
            symbolSize: function(value) {
              return Math.round(value[2] / 10) + 0;
            },
            data: [],
          },
        ]
      },
      bipolarEncodingData: {
        title: {
          text: "Podatki",
          // subtext: "Clock"
        },
        tooltip: {
          trigger: 'axis',
        },

        toolbox: {
          show: false,
          feature: {
            mark: { show: true },
            dataView: { show: false, readOnly: false, title: "Podatki" },
            restore: { show: true, title: "Ponastavi" },
            saveAsImage: { show: true, title: "Shrani" }
          }
        },
        dataZoom: {
          show: false,
          start: 0
        },
        legend: {
          data: ["Podatki"]
        },
        grid: {
          y2: 50
        },
        xAxis: [
          {
            show: false,
            // type: "time",
            // splitNumber: 10,
          }
        ],
        yAxis: [
          {
            show: false,
            type: "value"
          }
        ],
        series: [
          {
            // name: "Data",
            type: "line",
            // areaStyle: {},
            smooth: false,
            showAllSymbol: true,
            symbolSize: function(value) {
              return Math.round(value[2] / 10) + 0;
            },
            data: [],
          },
        ]
      },
      bipolarEncodingAMI: {
        title: {
          text: "Bipolarno kodiranje (AMI)",
          // subtext: "Clock"
        },
        tooltip: {
          trigger: 'axis',
        },

        toolbox: {
          show: true,
          feature: {
            mark: { show: false },
            dataView: { show: false, readOnly: false, title: "Podatki" },
            restore: { show: false, title: "Ponastavi" },
            saveAsImage: { show: false, title: "Shrani" }
          }
        },
        dataZoom: {
          show: false,
          start: 0
        },
        legend: {
          data: ["AMI"]
        },
        grid: {
          y2: 50
        },
        xAxis: [
          {
            show: false,
            // type: "time",
            // splitNumber: 10
          }
        ],
        yAxis: [
          {
            show: false,
            type: "value"
          }
        ],
        series: [
          {
            // name: "AMI",
            type: "line",
            // areaStyle: {},
            smooth: false,
            showAllSymbol: true,
            symbolSize: function(value) {
              return Math.round(value[2] / 10) + 0;
            },
            data: [],
          },
        ]
      },
    }
  },
  props: {
    msg: String
  },
  components: {
    "v-chart": ECharts
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px !important;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}
  .is-fullwidth {
    height: 500px;
  }
.echarts {
  height: 50%;

}
</style>
