
html * { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

* {
    box-sizing: border-box;
  }

  meter[value="1"]::-webkit-meter-optimum-value { background: red; }
  meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
  meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
  meter[value="4"]::-webkit-meter-optimum-value { background: green; }
  
  #okvir{
    background-color: rgba(1,163,217,0.1) !important;
    width:100%;
    padding:0;
    margin-bottom:0;
    border-style: solid;
    border-color: lightgray;
  }

  .btn-primary {
    background-color: rgba(1,163,217,0.5) !important;
    color: black !important;
  }

  .btn-primary:hover {
    background-color: rgba(1,163,217,1) !important;
  }
  
  meter {
    width: 90%;
     margin-left: 5%;
    margin-right: 5%; 
  }

table {
  width: 100%;
  background-color: rgba(1,163,217,0.25);
  text-align:center;
  margin-bottom:0;
}

#button {
  width: 100%;
}

#gumbi{
  width:100px;
}

#moc{
  width:150px;
}

.table td {
  text-align:center;
  font-weight: normal;
  font-size: small;
  border-bottom: 1px solid gray !important;
}

th {
  text-align:center;
  font-weight: bold;
  font-size: 90%;
  border-bottom: 1px solid gray !important;
}

.btd{
  width: 100%;
}

#tabelaGesel{
  float:left;
  width:30%;
}


.meterTd{
  width: 200px;
}

