#back-arrow {
    position: absolute;
    top: 12px;
    left: 10px;
}

#wires {
    position: absolute;
    top: 12px;
    left: 60px;
}

#register-tbl, #numbers {
    position: absolute;
    top: 60px;
    left: 60px;
}

#register-row {
    height: 3em;
}

.register-cell {
    width: 48px;
    text-align: center;
    border-collapse: collapse;
    border: 4px solid black;
    padding: 0px;
}

.register-val {
    height: 44px;
    width: 44px;
    text-align: center;
    line-height: 44px;
    border: 0px;
    margin: 4px 4px 4px 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.wire-block {
    height: 48px;
    width: 48px;
}

#lfsr-wrapper {
    position: relative;
    display: block;
    height: 150px;
}

#numbers {
    position: absolute;
    left: 64px;
    display: flex;
}