<head>
	<script type="text/javascript" src="koda.js"></script>
	<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
    <script src='../../js-libs/jquery-3.4.1.min.js'></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
		body{min-width:800px;}
    	.vodo {
    		display: inline-block;
    	}
    	.vodoTb{
    		display: inline-block;
    		position: absolute;
    	}
    	table {
			text-align: center;
    		border-collapse: collapse;
    		margin-top: 10px;
    		white-space:pre-wrap; 
    		word-wrap:break-word;
    		margin-right: 10px;
    		margin-left: 10px;
    	}
    	.skupi {
    		margin-left: 2%;
    	}
    	.poskusi {
    		border-width:2px;
			border-style:solid;
			margin-top: 20px;
			width: 300px;
			height: 190px;
			background-color: #5CE9E9;
    	}
    	.slikaWrong {
    		display: inline-block;
    		margin-top: 10px;
    		margin-left: 90px;
    		margin-bottom: 10px;
    		height: 50px;
    		width: 50px;
    		border-width: 1px;
    		border-style: solid;
    		border-color: black;
    		background-color: white;
    	}
    	.slikaOK {
    		display: inline-block;
    		margin-top: 10px;
    		float: right;
    		margin-right: 106px;
    		margin-bottom: 10px;
    		height: 50px;
    		width: 50px;
    		border-width: 1px;
    		border-style: solid;
    		border-color: black;
    		background-color: white;
    	}
    	.mrg{
    		margin-top: 20px;
    	}
        .myButton {
            -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
            -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
            box-shadow:inset 0px 1px 0px 0px #54a3f7;
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #004a61), color-stop(1, #0061a7));
            background:-moz-linear-gradient(top, #004a61 5%, #0061a7 100%);
            background:-webkit-linear-gradient(top, #004a61 5%, #0061a7 100%);
            background:-o-linear-gradient(top, #004a61 5%, #0061a7 100%);
            background:-ms-linear-gradient(top, #004a61 5%, #0061a7 100%);
            background:linear-gradient(to bottom, #004a61 5%, #0061a7 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#004a61', endColorstr='#0061a7',GradientType=0);
            background-color:#004a61;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
            border:1px solid #124d77;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:10px;
            padding:3px 10px;
            text-decoration:none;
            text-shadow:0px 1px 0px #002e66;
        }
        .myButton:hover {
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #004a61));
            background:-moz-linear-gradient(top, #0061a7 5%, #004a61 100%);
            background:-webkit-linear-gradient(top, #0061a7 5%, #004a61 100%);
            background:-o-linear-gradient(top, #0061a7 5%, #004a61 100%);
            background:-ms-linear-gradient(top, #0061a7 5%, #004a61 100%);
            background:linear-gradient(to bottom, #0061a7 5%, #004a61 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#004a61',GradientType=0);
            background-color:#0061a7;
        }
        .myButton:active {
            position:relative;
            top:1px;
        }
        * { 
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
        }
    </style>
</head>
<body>
	<div class="jobs_index_middle_panels">
        <div class="card">
            <div class="card-body content">
	<div class="skupi">
		<form id="forma" class="form-inline">
			<div class="form-group mx-sm-3 mb-2">
    			<label class="vodo m-1">Vnesi n: </label>
    			<input class="form-control m-1" type="text" id="n" pattern="[0-9]+" required="required"
                        oninvalid="setCustomValidity('Prosim vstavi podatek zahtevane oblike.')" 
                        oninput="setCustomValidity('')" value="12"></input>
    			<input class="btn btn-primary m-1" type="submit" value="Začni!" id="reset" class="myButton">
    			<input class="btn btn-primary m-1" type="button" class="myButton" value="Odstrani elemente brez inverza!" id="cb">
    		</div>
        </form>
		<div class="col-12">
			<table id="tab" rules="all" class="vodo table-sm"></table>
			<table id="messSum" class="vodoTb" rules="rows"></table>
		</div>
		<div class="mrg">
			<table id="mult" class="vodo table-sm" rules="all"></table>
			<table id="messMult" class="vodoTb" rules="rows"></table>
		</div>
	</div>
	</div></div></div>
</body>
