
  #tabela {
      max-width: 600px;
  }
  table td, table th {
    border:0px solid #8d8f91 !important;
    font-weight: 400;
  }
  table tr:first-child th {
    border-bottom: 1.5px solid #8d8f91 !important;
  }

  table tr td:first-child,
  table tr th:first-child {
    border-right: 1.5px solid #8d8f91 !important;
  }
