<footer>
  <!-- FEEDBACK prek e-poste ne dela -->
  
  <!--
  <iframe src='./PKomentar/index.html' id='kom-iframe'></iframe>
  <script>
      iFrameResize({ log: true, warningTimeout: 10000}, '#kom-iframe')
  </script>
  -->

  <!--
  <p>Compiled by: Mia Filic in SJ</p>
  <p>Contact information: <a href="mailto:filicmia@gmail.com">
  me@me.com</a>.</p>
  -->
</footer>
