html * { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
p{
    font-size: 14px;
    display: inline-block;
    margin-right: 6px;
    font-weight: bold;

}
p#messageError{
    font-size: 20px;
    color: red;
}
P#messageError2{
    font-size: 16px;
}

.custom-input{
    width: 60px !important;
    background-color: #28B677 !important;
    color: white !important;
}
.custom-button {
    background-color: #28B677 !important; 
    color: white !important;
    margin-bottom: 20px !important;

}
.width-260{
    width: 260px !important;
}
.custom-textarea{
    background-color: azure !important;
    padding: 12px 20px !important;
    box-sizing: border-box !important;
    border: 2px solid #28B677 !important;
    border-radius: 4px !important;
    margin-bottom: 20px !important;
    vertical-align: top !important;
}
table{
    text-align: center;
    margin-top: 20px;
}
h1{
    margin: 0px;
    color: #28B677;
}