html * {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 5px;
	font-size: 15px;
	color: #1F7857;
	border-radius: 10px;
}

div.grid-container {
	display: grid;
	grid-template-columns: 150px 150px 170px 170px 170px;
	grid-template-rows: 50px 150px 100px 100px 160px;
}

canvas {
	border-width: 2px;
	border-color: #1F7857;
	border-style: solid;
}

div.text {
	font-size: 20px;
	text-align: center;
	border-width: 2px;
	border-color: #1F7857;
	border-style: solid;
}

input.tab {
	background-color: #FFFFFF;
	border-width: 2px;
	border-style: solid;
	border-color: #1F7857;
	color: #1F7857;
}

input.tab-active {
	background-color: #1F7857;
	border-width: 2px;
	border-style: solid;
	border-color: #1F7857;
	color: #FFFFFF;
}

input {
	background-color: #FFFFFF;
	border-width: 2px;
	border-style: solid;
	border-color: #1F7857;
	color: #1F7857;
}

input#sporocilo {
	font-size: 20px;
	text-align: center;
}

input::placeholder{
	color: #1F7857;
}
