<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width">
        <title>CRT</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    <body>
                <br>
                In this part we are going to see how <b>Chineese remainder theorem</b> is usefull and we will <br>
                see serious application of it. Of course we are not talking about speeding up RSA or generating psoeudo <br>
                random pins we are talking about a more serious application of it; you know what I am talking <br>
                about, yes exactly for a <b>magic trick with cards</b>. <br>
                We will discover that 11 is not an innocent number.
                In this interaction you are going be shuffling cards: You have 11 shuffles(shuffle consists of taking the top card of the deck and puting it on the bottom) <br>
                there are 2 decks laid in front of you(coeur and pique), shuffle them as you wish the only thing that matters is <br>
                that you do not use more than <b>11</b> shuffles and we will take care of that for you. <br>
                Click one of the blue arrows to begin shuffling. <br>

                <br>
                <table>
                    <tr>
                        <td id="rdece">
                            <img src="img/1-coeur.jpg" alt="back">
                            <img src="img/2-coeur.jpg" alt="back">
                            <img src="img/3-coeur.jpg" alt="back">
                            <img src="img/4-coeur.jpg" alt="back"> 
                            <a id="clickRdece" ><img id="puscica2" src="img/flecheDroite.jpg"></a>
                        </td>
                        <td id="izpis" style="text-align: center; padding-left: 20px;">
                            <td id="izpis1" style="text-align: center; padding-left: 20px;">
                            </td>
                        </td>

                    </tr>
                    <tr>
                        <td id="crne">
                            <img src="img/4-pique.jpg" alt="back">
                            <img src="img/3-pique.jpg" alt="back">
                            <img src="img/2-pique.jpg" alt="back">
                            <img src="img/1-pique.jpg" alt="back">
                            <a id="clickCrne"><img id="puscica1" src="img/flecheDroite.jpg"></a>
                        </td>
                        <td id="izpis2" style="text-align: center;padding-left: 20px; padding-top: 20px;">
                            <td id="izpis3" style="text-align: center; padding-left: 20px; padding-top: 20px;">
                            </td>
                        </td>
                    </tr>
                </table>
        <div id="shuffle" style="padding-top: 30px;padding-bottom: 30px;">
            
            
        </div>
        <p>To explain the trick we are going to use solve the 3 equations listed below using <b>Chineese remainder theorem</b> </p>
        <p>you can use some online CRT solvers to solve them or you can try by yourself</p>
        <p>hint: if you were reading carefuly you already know the answer</p>
        
        <b style="text-align: left;">$${{x \equiv -1\mod 4}}$$ </b>
        <b style="text-align: left;">$${{x \equiv -1\mod 3}}$$ </b>
        <b style="text-align: left;">$${{x \equiv -1\mod 2}}$$ </b>
        <lable id="Solution">
            x = <input type="number" id="check" size="3" min="0" max="99" >
            <input type="button" value="Check" id="checkSubmit" onclick="checkSol()">
        </lable>
        <br>
        <p>As you can see the card on the right after the 11 shuffles is the same in the top and the bottom </p>
        <div>
                <img id="test1" src="clockCards.jpg" alt="back"> <br>
                The cards are like a clock we will generalise for m cards <br>
                <img id="test" src="clock.jpg" alt="back"> <br>
                
                After l shuflles we arrive to: <b>$${{l+1}}$$</b> 
                and after r shuflles we arrive to: <b>$${{m-r}}$$</b>. <br>
                We know that Number of shuffles is: <b>$${{l+r}}$$</b> <br>
                
                We want: <b>$${{l-r \equiv m-r\mod m}}$$</b>  
                 
                If we choose the number of shuffles S such that: $${{S \equiv -1 \mod m }}$$
                Then: <br>
                
                <b>$${{l+1 \equiv S-r+1 \mod m}}$$</b> 
                and: <b>$${{S\equiv -1 \mod m}}$$</b> 
                So we will have: 
                <b>$${{l+1 \equiv -r \mod m \equiv m-r \mod m}}$$</b> 
                
        </div>
        <script>
            document.addEventListener("keyup", function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("checkSubmit").click();
                }
            });
            var normal2small = {
                "img/1-coeur.jpg":"resizedImg/1-coeur.jpg",
                "img/2-coeur.jpg":"resizedImg/2-coeur.jpg",
                "img/3-coeur.jpg":"resizedImg/3-coeur.jpg",
                "img/4-coeur.jpg":"resizedImg/4-coeur.jpg",
                "img/1-pique.jpg":"resizedImg/1-pique.jpg",
                "img/2-pique.jpg":"resizedImg/2-pique.jpg",
                "img/3-pique.jpg":"resizedImg/3-pique.jpg",
                "img/4-pique.jpg":"resizedImg/4-pique.jpg"
            }
            var messages = {
                "":"<b>(1)</b> The same cards? luck!",
                "1":"<b>(2)</b> 2 times in a row??",
                "2":"<b>(3)</b> ok, this is getting spooky now",
                "3":"<b>(4)</b> MAGIC OR MATH?"
            }
            let cikel = ""
            let number=11; //kolikokrat lahko mesamo

            //rabimo za reset ==> se ne spreminjajo
            let ResetArray1 = ["img/1-coeur.jpg","img/2-coeur.jpg","img/3-coeur.jpg","img/4-coeur.jpg"]; 
            let ResetArray2 = ["img/4-pique.jpg","img/3-pique.jpg","img/2-pique.jpg","img/1-pique.jpg"];

            //rabimo za mesat karte ==> se spreminjajo 
            let array1=["img/1-coeur.jpg","img/2-coeur.jpg","img/3-coeur.jpg","img/4-coeur.jpg"];
            let array2=["img/4-pique.jpg","img/3-pique.jpg","img/2-pique.jpg","img/1-pique.jpg"];

            //pridobimo html node in njihove otroke 
            var ancestor = document.getElementById('rdece');
            var rKarte = ancestor.getElementsByTagName('*');


            var ancestor2 = document.getElementById('crne');
            var cKarte = ancestor2.getElementsByTagName('*');


            //glede na <kirArray> spremenimo vrstini red slik kart v html dokumentu v vrstenm redu kot ga narekuje <array>
            function change(array,kirArray){
                if(kirArray == "crn"){
                    for(var i = 0; i< cKarte.length-2;i++){
                        cKarte[i].setAttribute("src", array[i]);
                    }
                }else{
                    for(var i = 0; i< rKarte.length-2;i++){
                        rKarte[i].setAttribute("src", array[i]);
                    }        
                    
                }       
                
            }


            //zbrisemo zadnjo karto v html dokumentu in jo odstranimo iz pripadajocih arrayev
            function deleteLastElement(){
                var last2 = array2[array2.length-1];
                var last1 = array1[array1.length-1];
                ancestor.removeChild(rKarte[rKarte.length - 3])
                ancestor2.removeChild(cKarte[cKarte.length - 3])
                array1.pop()
                array2.pop()
                return [last1,last2]
            }


            // zadnji element v arrayu damo na prvo mesto in vse ostale premaknemo za 1 naprej 
            function shuffleArray(array){
                array.unshift(array[array.length-1]);
                array.pop();
                return array;
            }
            
            //eventi za click na shuffle puscico v html dokumentu
            document.getElementById("clickCrne").addEventListener('click', function() {
                shuffle("crne")
            }, false);
            document.getElementById("clickRdece").addEventListener('click', function() {
                shuffle("rdece")
            }, false);
            /*
            document.getElementById("checkSubmit").addEventListener('click',function(){
                console.log("delam")


            },false)*/
            function checkSol(){
                var solutionLabel = document.getElementById("Solution")
                if(solutionLabel.childNodes[solutionLabel.childNodes.length -1].id == "isThere");{
                    solutionLabel.removeChild(solutionLabel.childNodes[solutionLabel.childNodes.length -1]);
                }
                if (document.getElementById("check").value == 11){
                    
                    solutionLabel.innerHTML += "<p style=\"color:green;\" id=\"isThere\">Correct: x = 11</p>";
                }else{
                    solutionLabel.innerHTML += "<p style=\"color:red;\" id=\"isThere\">Incorrect</p>";
                }
            }


            //funkcija ki izvaja mesanje kart v html dokumentu
            function shuffle(katere){
                if(number == 0){
                    if(array2.length >= 2){
                        var values = deleteLastElement();
                        number = 11;
                        var izpis = document.getElementById("izpis"+cikel);
                        document.getElementById("shuffle").innerHTML="<b> The number of shuffles left "+number+"</b>";

                        izpis.innerHTML += "<img src=\""+normal2small[values[0]]+"\" style=\"padding: 2px;\" alt=\"back\">";
                        izpis.innerHTML += "<img src=\""+normal2small[values[1]]+"\" style=\"padding: 2px;\" alt=\"back\">";
                        izpis.innerHTML += "<p>"+messages[cikel]+"</p>";
                        cikel++;
                        console.log("cikel: "+cikel)
                    }
                    if(cikel == 3){
                        number = 0;
                        var values = deleteLastElement();
                        var izpis = document.getElementById("izpis"+cikel);
                        document.getElementById("shuffle").innerHTML="<b> The number of shuffles left "+number+"</b>";

                        izpis.innerHTML += "<img src=\""+normal2small[values[0]]+"\" style=\"padding: 2px;\" alt=\"back\">";
                        izpis.innerHTML += "<img src=\""+normal2small[values[1]]+"\" style=\"padding: 2px;\" alt=\"back\">";
                        izpis.innerHTML += "<p>"+messages[cikel]+"</p>";
                        cikel++;
                        var crne = document.getElementById("crne") 
                        var rdece =  document.getElementById("rdece")
                        var shuffle = document.getElementById("shuffle")
                        rdece.removeChild(document.getElementById("clickRdece"))
                        crne.removeChild(document.getElementById("clickCrne"))
                        shuffle.removeChild(shuffle.childNodes[0]);

                    }
                }else{
                    if(katere == "crne"){
                        shuffleArray(array2);
                        change(array2,"crn")
                    }else{
                        shuffleArray(array1)
                        change(array1,"notCrn")
                    }
                    number--;
                    document.getElementById("shuffle").innerHTML="<b> The number of shuffles left "+number+"</b>";
                }
            }
 </script>
    </body>
</html