<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="style_crt.css">
<body>

<h1>Chineese remainder theorem</h1>

<p>the objective of the chineese remainder theorem is to resolve this kind of equations:</p>
<h3>
    $${{x \equiv a1 \mod n1}}$$ <br />
    $${{x \equiv a2 \mod n2}}$$<br />
    $${{x \equiv a3 \mod n3}}$$<br />
    $${{...}}$$<br />
    $${{...}}$$<br />
    $${{...}}$$<br />
    $${{x \equiv ar \mod nr}}$$ <br />
</h3>

<p>Simple example to illustrate</p>
<p>x≡<input type="text" size="3"id="y1" style="text-align: center;" /> mod <input type="text" size="3" id="n1" style="text-align: center;"/></p>
<p>x≡<input type="text" size="3"id="y2" style="text-align: center;"/> mod <input type="text" size="3"id="n2" style="text-align: center;"/></p>
<p>x≡<input type="text" size="3"id="y3" style="text-align: center;"/> mod <input type="text" size="3"id="n3" style="text-align: center;"/></p>

<input type="button" value="Solution" id="solutionBtn" onclick="getsol()"/> 
<div id="error">
</div>

<div>
    <table>
        <tr>
            <td id="sol1">
                
            </td>
        </tr>
        <tr>
            <td id="sol2">
            </td>
        </tr>
        <tr>
            <td id="sol3">
            </td>
        </tr>
    </table>

</div>

<div id="commonElement">

</div>

<div id="Note">

</div>
<script type="text/javascript" src="math.min.js"></script>
<script>
    var n1;
    var n2;
    var n3;
    var a;
    var b;
    var c;
    let M = 75;
    var sol1 = [];
    var sol2 = [];
    var sol3 = [];
    var solHtml1;
    var solHtml2;
    var solHtml3;
    var commonElement;
    
    document.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("solutionBtn").click();
        }
    });

    function clearsol(){
        var allSols = [document.getElementById("sol1"),document.getElementById("sol2"),document.getElementById("sol3"),document.getElementById("commonElement"),document.getElementById("error")]
        for (var i = 0; i<allSols.length;i++){
            if(allSols[i].innerHTML != "" && (allSols[i].firstChild)){
                allSols[i].innerHTML = ""
                while(allSols[i].firstChild){
                    allSols[i].removeChild(allSols[i].lastChild)
                }
                sol1 = [];
                sol2 = [];
                sol3 = [];
            }
        }

    }

    function getsol(){
        var kolikoStevil = 0;
        a=document.getElementById("y1").value;
        b=document.getElementById("y2").value;
        c=document.getElementById("y3").value;

        n1= document.getElementById("n1").value;
        n2= document.getElementById("n2").value;
        n3= document.getElementById("n3").value;
        
        solHtml1 = document.getElementById("sol1")
        solHtml2 = document.getElementById("sol2")
        solHtml3 = document.getElementById("sol3")

        commonElement = document.getElementById("commonElement");


        
        if(n1 != ""){kolikoStevil++}
        if(n2 != ""){kolikoStevil++}
        if(n3 != ""){kolikoStevil++}
        
        if(n1*n2*n3 > M){
            clearsol()
            document.getElementById("error").innerHTML = "<p id=\"innerError\">choose smaller numbers for demonstration</p>"
        }else{
            
            firstSolution = false;
            clearsol()
            for (var i = 0; i < M; i++) {
                var isASolution = 0
                //check 1st pair
                if(math.abs(i-a)%n1==0){
                    isASolution++;
                    sol1.push("<lable id=\"pravilnaStevila\">"+i.toString()+"</lable>,")
                }else{
                    sol1.push(i+",")
                }
                //check 2nd pair
                if(math.abs(i-b)%n2==0){
                    isASolution++;
                    sol2.push("<lable id=\"pravilnaStevila\">"+i.toString()+"</lable>,")
                }else{
                    sol2.push(i+",")
                }
                //check 3rd pair
                if(math.abs(i-c)%n3==0){
                    isASolution++;
                    sol3.push("<lable id=\"pravilnaStevila\">"+i.toString()+"</lable>,")
                }else{
                    sol3.push(i+",") 
                }

                if(isASolution == kolikoStevil){
                    if(firstSolution == false){
                        firstSolution=i;
                    }
                }
            }


            solHtml1.innerHTML += ((n1!="") ? "<p>Solutions for <label id=\"prvoStevilo\">"+n1+"</label>:</p>":"")
            solHtml2.innerHTML += ((n2!="") ? "<p>Solutions for <label id=\"prvoStevilo\">"+n2+"</label>:</p>":"")
            solHtml3.innerHTML += ((n3!="") ? "<p>Solutions for <label id=\"prvoStevilo\">"+n3+"</label>:</p>":"")

            for (var i = 0; i< sol1.length;i++){
                if(n1 != ""){solHtml1.innerHTML += sol1[i];}
                if(n2 != ""){solHtml2.innerHTML += sol2[i];}
                if(n3 != ""){solHtml3.innerHTML += sol3[i];}                 
            }
            console.log(firstSolution)
            if(firstSolution){
                commonElement.innerHTML = "<p><br>The numbers that are colored in "+ kolikoStevil+" rows are solutions to our system of equations <br>\
                in this case the first such number is: <label id=\"firstSolution\">"+firstSolution+"</label></p>"
            }else{
                commonElement.innerHTML = "<p>The solution to your system of equations is not within the first 75 natural numbers;<br>\
                                    since this is only a demonstration of how these equations are solved, we wont be looking for it,<br>\
                                    but you are most welcome to try any other combination of numbers or you can find the solution <br>\
                                    to your specific list of equations <a href=\"https://www.dcode.fr/chinese-remainder\">here</a>.</p>"
            }
        
        }
    }
</script>
</body>
</html>