* { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    width: auto !important;
    margin: 0;
}
font{
    font-family:courier, courier new, serif; 
    font-variant-numeric: tabular-nums;
    font-size: 20px;
}