html * { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

textarea{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    border-radius: 2px;
    color: white;
}
