.select-css {
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100px;
    box-sizing: border-box;
    margin: 5px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}

option {
    text-align: center;
}

.vodo{
    display: inline-block;
}
.pag {
    width: 660px;
    border: 1px solid black;
    border-radius: 5px;
    background: #EEF5FD;
    margin: 10px;
}
p {
    margin-left: 10px;
}

.rez-card-row {
  flex-direction: row !important;
  padding: 0.5em !important;
  margin-bottom: 10px !important;
}
.rez-card-col {
  flex-direction: column !important;
  padding: 0.5em !important;
  margin-bottom: 10px !important;
}

/*EKOLO*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
body {
  color: #545556;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  height: 100vh;
  margin: 0;
}

.check {
  bottom: 0;
  display: flex;
  left: calc(50% + 40px);
  margin-bottom: 10px;
  position: absolute;
}
.containerOuter {
  height: 110px;
  background: white;
  border-radius: 10px;
  display: inline-block;
  margin-left: 90px;
  margin-right: 20px;
  box-shadow: 2px 6px 20px 2px rgba(10,10,120,0.15);
  display: inline-block;
}
.container {
  position: relative;
  margin: 20px;
  width: 160px;
}
.hidden {
  display: none;
}
.entry {
  height: 25px;
  position: absolute;
  width: 160px;
  display: inline-block;
}
.entry:nth-child(2) {
  left: 8px;
  top: 8px;
}
.entry:nth-child(4) {
  left: 8px;
  top: 58px;
}

.circ {
  border: 2px solid #545556;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  transition: border-color 300ms;
  margin-left: 5px;
  height: 10px;
  width: 10px;
}
.entry-label {
  cursor: pointer;
  margin-top: -3px;
  padding-left: 40px;
  user-select: none;
  -moz-user-select: none;
}

.highlight {
  background: #4D98EF;
  border-radius: 50%;
  left: 18px;
  pointer-events: none;
  position: absolute;
  top: 13px;
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
  transform: translateY(-50px);
  height: 4px;
  width: 4px;
}
.hidden:nth-child(1):checked ~ .highlight {
  transform: translateY(0);
}
.hidden:nth-child(3):checked ~ .highlight {
  transform: translateY(50px);
}

.hidden:nth-child(1):checked + .entry .circle {
  border-color: #4D98EF;
}

.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #004a61), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #004a61 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #004a61 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #004a61 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #004a61 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #004a61 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#004a61', endColorstr='#0061a7',GradientType=0);
    background-color:#004a61;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:10px;
    padding:3px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #002e66;
    margin-left: 10px;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #004a61));
    background:-moz-linear-gradient(top, #0061a7 5%, #004a61 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #004a61 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #004a61 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #004a61 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #004a61 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#004a61',GradientType=0);
    background-color:#0061a7;
}
.myButton:active {
    position:relative;
    top:1px;
}
.rez{
  text-align: center;
  line-height: 2em;
}

.dropdown {
    display: inline-block;
    position: relative;
    height: 35px;
    width: 100%;
}
.dropdown-content {
    display: none;
    position: absolute;
    left: 350px;
    top:  0px;
    background-color: #004B61;
    width: 230px;
    height: 45px;
    padding: 12px 16px;
    text-align: center;
    color: white;
    font-size: 13px;
    border-radius: 12px;
}
.dropdown:hover .dropdown-content {
    display: inline-block;
}

.napis {
    position: relative;
    top: -18px;
}

body.emso{
  height: auto !important;
}