#slide-container {
    position: absolute;
    width: 100%;
}

.slide-row {
    display: flex;
    flex-direction: row;
}

.slide-en {
    position: absolute;
    width: 33%;
    top: 0;
}

.slide-de {
    position: absolute;
    width: 33%;
    top: 0;
}

#slide1 {
    left: 0%;
}

#slide2 {
    left: 33%;
}

#slide3 {
    left: 66%;
}


.hex-box {
    width: 90%;
    height: 6em;
    line-height: 1.2em;
    border: 1px solid gray;
    border-radius: 5px;
}

textarea {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    border-radius: 0;
}
.highlight-container {
    position: relative;
    display: block;
    height: 4.5em;
}
.backdrop {
    overflow: auto;
    background-color: #fff; /* or whatever */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 71px;
}
.highlights {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: transparent;
    padding-left: 12px;
    padding-right: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
}
#input-data {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
#output-data {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
mark {
    color: transparent;
    background-color: #fff235; /* or whatever */
    margin: 0px;
    padding: 0px;
}