html * { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}


p#number{
    font: 'Ubuntu',sans-serif;
    color: #3CBC8D;
    font-size: 30px;
    margin: 0px;
  
}
p#guard {
    font: 'Ubuntu',sans-serif;
    color: #3CBC8D;
    font-size: 20px;
        /* Safari */
    -webkit-transform: rotate(-90deg);    
        /* Firefox */
    -moz-transform: rotate(-90deg);    
        /* IE */
    -ms-transform: rotate(-90deg);    
        /* Opera */
        -o-transform: rotate(-90deg);     
        float: left;

        
}
div#tableDiv{
    display: inline-block;
}
div#numberDiv{
    height: 50px;
}
div#barDiv{
    display: inline-block;
}



table.tab
{
    font: 'Ubuntu',sans-serif;
	font-size: 16px;
    margin-left: 50px;
	text-align: center;
    border-collapse: collapse;
    display: inline-block;
}

table.tab th
{
	padding: 2px 2px;
	font-size: 16px;
	border-bottom: 2px solid #3CBC8D;
	border-right: 10px solid #fff;
	border-left: 10px solid #fff;
	color: black;
}
table.tab td
{
	padding: 6px 2px 10px 2px;
	color: black;
}
caption{
    font: 'Ubuntu',sans-serif;
	font-size: 18px;
}
button{
    border:none;
    text-align: center;
    cursor: pointer;
    background-color: #3CBC8D;
    color: white;
    height: 45px;
    border-radius: 2px;
    font-size: 16px;
}

input[type=text]#codeArea{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    width: 155px;
    background-color: #3CBC8D;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    height: 45px;
}

p#navodila{
    font-size: 14px;
    color: #3CBC8D;
    display: inline-block;
    margin-right: 6px;

}

textarea{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    border-radius: 2px;
    color: white;
    font-size: 18px;
}

h1{
    margin: 0px;
    font: 'Ubuntu',sans-serif;
    color: #3CBC8D;
}