<head>
	<script type="text/javascript" src="koda.js"></script>
	<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
    <script src='../../js-libs/jquery-3.4.1.min.js'></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
    <style type="text/css">
		.tables {
			overflow-y: scroll;
    		height: 400px;
		}

		.green {
			background: #28a74599;
		}

		.lime {
			background: #00ff0087;
		}
		
		.form-control {
			max-width: 200px;
		}
    </style>
</head>
<body>
	<div class="card">
		<div class="card-body">
			<form id="forma">
				<div class="form-group">
					<label for="a">Vnesi a</label>
					<input type="text" id="a" class="form-control" pattern="[0-9]+" required="required"></input>
				</div>
				<div class="form-group">
					<label for="n">Vnesi n</label>
					<input type="text" id="n" class="form-control" pattern="[0-9]+" required="required"></input>
				</div>
				
				<input type="submit" value="Začni" class="btn btn-primary"></input>
				<input type="button" id="ns" value="Naslednji korak!" class="btn btn-primary"></input>
			</form>
			</br>
			<div class="alert alert-info">
				Logaritme iščemo tako, da po vrsti računamo antilogaritme, dokler se nam števila ne začnejo ponavljati.
			</div>

			<div class="tables row">
				<div class="col-5">
					<table id='tableUrejena' class="table"></table>
				</div>	
				<div class="col-2"></div>
				<div class="col-5">
					<table id='table' class="table"></table>
				</div>
			</div>
			</br>
			<p id="mess"></p>
			<div id="cycle-end-notification" class="d-none alert alert-success">
				Prišli smo do konca cikla! Ko se število ponovi, se zaporedje števil začne ponavljati.
				Če določenega števila ni med antilogarirmi, zanj logaritem ne obstaja.
			</div>
		</div>
	</div>
</body>