<script type="text/javascript" src="./www/graphBasedCryptoSystem.js"></script>
<link rel="stylesheet" href="./www/graphBasedCryptoSystem.css">
<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
<script src='../../js-libs/jquery-3.4.1.min.js'></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<div id='cchiperWrapper' class="grid-container">
	<div id="animation_description" class="text" style="grid-row: 1/3; grid-column: 1/3;"></div>

	<input id="naprej" class="center" type="button" value="Naprej" style="grid-row: 3; grid-column: 1;">
	<input id="reset" class="center" type="button" value="Od začetka" style="grid-row: 3; grid-column: 2;">

	<input id="sporocilo" class="encryption" type="text" value="" style="grid-row: 4; grid-column: 1/3;">
	<div id="encryption_output" class="text" style="grid-row: 5; grid-column: 1/3;"></div>

	<input id="generiranje" class="tab" type="button" value="Generiranje grafa" style="grid-row: 1; grid-column: 3;">
	<input id="sifriranje" class="tab" type="button" value="Šifriranje" style="grid-row: 1; grid-column: 4;">
	<input id="odsifriranje" class="tab" type="button" value="Odšifriranje" style="grid-row: 1; grid-column: 5;">
	
	<canvas id='canvas' class="center" width=500 height=500 style="grid-row: 2/6; grid-column: 3/6;"> </canvas>
	
</div>
