#nextsteps {
   color: blue;
}

.emphasized {
   font-size: 1.2em;
   background-color: yellow;
}

.todo {
  background-color:#F1D03F;
  padding: 5px;
  border: 1px solid;
  border-radius: 6px;
}

.blue { 
  background-color:#e6f0ff; 
  border-radius: 5px; 
  padding: 20px;
}

.red {
  background-color:#b56969;
  color: #e8edf3;
  border-radius: 5px; 
  padding: 20px;
}
.green {
  color:#006600;
}
.warning {
  color:#cc6600;
}
.smaller {
  font-size:80% !important;
}

.pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #b56969;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}