/* Below line is write to use Google font online */
@import "http://fonts.googleapis.com/css?family=Ubuntu";
div.main{
margin:0 auto;

font-family:monospace, sans-serif
}
.container-fluid{
  text-align:center;
  border:1px solid #ccc;
  width:100%;
  padding:0 10px 10px;
  margin-top:5px;
  margin-bottom: 20px;
  border-radius:6px;
  overflow: visible !important;
  min-height: 500px;
}
div#chiperButtons{
  width:auto;
  height:auto;
  margin:0 auto;
  margin-bottom:25px;
  font-family:monospace, sans-serif
}
.main h1{
  margin-top:10px
}

.main h2{
  margin: 0;
}

hr{
  margin-top:-5px;
  padding: 0;

}

#button{
  margin: 10px 5px 5px 5px;
  width: 20%;
}

label{
  float:left;
  font-size:14px;
  font-weight: bold;
}
input#chipertext{
  width:100%;
  border:3px solid #e6f0ff;
  overflow: auto;
}

#chipertext{
  font-size: 14px;
}

#plaintext{
  font-size: 14px;
}

textarea{
  width:100%;
  border:3px solid #e6f0ff;
  padding:10px;
  margin-bottom:25px;
  margin-top:10px;
  height:100px;
  resize: both;
  overflow: auto;
}

input#do, input.do{
  width:100%;
  padding:10px 10px;
  background-color:#e6f0ff;
  border: #fff;
  border-style: inherit;
  color: #fff;
  font-size:18px;
  font-weight:700;
  cursor:pointer;
  font-family: monospace ,sans-serif;
  color: gray;
}

#chiperButtons input{
  width:10%;
  padding:2px;
  border:3px solid #e6f0ff;
  overflow: auto;
}

#wdh {
  padding-top: 10px;
  margin: 0 auto;
}
.blue {
    background: #f4f4f4;
    border: 1px solid #ddd;
    color: #666;
    page-break-inside: avoid;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}