html * { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

button{
    border:none;
    text-align: center;
    cursor: pointer;
    background-color: #3CBC8D;
    color: white;
    padding: 1ex;
    margin-bottom: 3px;
    /* height: 40px; */
    border-radius: 2px;
    font-size:16px;
}

select{
    border:none;
    text-align: center;
    cursor: pointer;
    background-color: #3CBC8D;
    color: white;
    height: 40px;
    border-radius: 2px;
    font-size:16px;
    margin-bottom: 10px;
}

textarea{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    border-radius: 2px;
    color: white;
}

#card{
    margin: 0px;
    color: #3CBC8D;
}

h1{
    margin: 0px;
}

#info{
    font-size:18px;
}
