<head>
<meta charset="utf-8">
<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
<link href='../../static/css/bootstrap.min.css' rel="stylesheet">
<link href="karte.css" rel="stylesheet" type="text/css">
</head>


<select  name=seldict >
    <option value="slru">slovenska gajica --> ruska cirilica</option>
    <option value="slsr">slovenska gajica --> srbska cirilica</option>
    <option value="slgl">slovenska gajica --> glagolica </option>
    <option value="slo_zastave">slovenska gajica --> zastave</option>
    <option value="slo_znakovna">slovenska gajica --> znakovna abeceda</option>
    <option value="slo_grska">slovenska gajica --> grška abeceda</option>
    <option value="rusl">ruska cirilica --> slovenska gajica</option>
    <option value="srsl">srbska cirilica --> slovenska gajica</option>
    <option value="glsl">gloagolica --> slovenska gajica</option>
    <option value="zastave_slo">zastave --> slovenska gajica</option>
    <option value="znakovna_slo">znakovna abeceda --> slovenska gajica</option>
    <option value="grska_slo">grška abeceda --> slovenska gajica</option>
</select>

<button type="button" onclick="cards()" id="zacniBtn">Začni</button> 

<br>
<h1 id='card'></h1>
<br>
<button id='c1' type="button" onclick="evalueate('c1')"><h1></h1></button> 
<button id='c2' type="button" onclick="evalueate('c2')"><h1></h1></button> 
<button id='c3' type="button" onclick="evalueate('c3')"><h1></h1></button> 
<button id='c4' type="button" onclick="evalueate('c4')"><h1></h1></button> 
<button id='c5' type="button" onclick="evalueate('c5')"><h1></h1></button> 
 
<br>
<p id='info'></p>

<script src="karte.js" charset="utf-8" ></script>