html * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  display: inline;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  margin: 5px;
}

.user {
  border-style: solid;
  border-color: #003A4D;
  width: 400px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  display: inline-block;
}

#common {
  border-style: solid;
  border-color: #003A4D;
  max-width: 867px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  display: block;
}

textarea {
  height: 40px;
  display: inline;
  vertical-align: middle;
  margin: 5px;
}

textarea#alphabet {
	width: 70%;
}

.key {
  font-size: 20px;
  word-wrap: break-word;
  width: 380px;
}

b {
  color: #003A4D;
}

input[type="button"] {
  height: 40px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  text-align: center;
  margin: 5px;
  display: inline-block;
  color: #003A4D;
}

input#alice_send {
  margin-left: 300px;
}

input#bob_send {
  margin-right: 300px;
}