table {
  border-collapse: collapse;
  /*margin: 7px;*/
  text-align: center;
}
table tr:first-child td {
  border-bottom: 1px solid black; 
}

* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  height: auto !important;
  padding-top: 0.3rem !important;
  background-color: #000;
  background: white;
}

.modul {
  text-decoration: underline;
}

.container {
  margin: 15px;
  display: inline-block;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  justify-content: center;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #004667;
  width: 300px;
  height: 120px;
}

.box-minmax {
  position: absolute;
  top: 50px;
  left: 8px;
  margin-top: 30px;
  width: 270px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  color: #FFFFFF;
}
.box-minmax span:first-child {
  margin-left: 10px;
}

.range-slider {
  margin-top: 30vh;
  margin-left: -16px;
}

.rs-range {
  position: absolute;
  top: 30px;
  margin-top: 29px;
  margin-left: 20px;
  width: 256px;
}

.rs-label {
  position: absolute;
  transform-origin: center center;
  top: -10px;
  display: block;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  box-sizing: border-box;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 10px;
  left: attr(value);
  color: white;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
}
p {
  text-align: justify;
}
.vsebina {
  width: 96%;
  margin-left: 2%;
  margin-top: 10px;
}
.content {
  margin: 10px;
}
.vodo {
  display: inline-block;
}
.racunaj{
	display: inline-block;
	border: 2px solid black;
	border-radius: 5px;
	margin: 5px;
	/*position: relative;*/
	vertical-align: top;
	visibility: hidden;
}