
html * { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
* {
    box-sizing: border-box;
    /* border: 1px solid black; */
    
  }

  meter[value="1"]::-webkit-meter-optimum-value { background: red; }
  meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
  meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
  meter[value="4"]::-webkit-meter-optimum-value { background: green; }
  
  #okvir{
    background-color: rgba(1,163,217,0.1);
    width: 100%;
    border-style: solid;
    border-color: lightgray;
  }

  meter {
    width: 90%;
    margin: auto;
    
  }

  .btn-primary {
    background-color: rgba(1,163,217,0.5) !important;
    color: black !important;
  }

  .btn-primary:hover {
    background-color: rgba(1,163,217,1) !important;
  }


.btd{
  width: 100%;
}



#tabelaGesel{
  float:left;
  
}


.meterTd{
  width: 200px;
}


/* Sporočilo z dodatnimi informacijami */
#extraDiv{
  display: inline-block;
  background-color: rgb(1,163,217);
  border-radius: 5pt;
  padding: 5pt;
  margin: 5pt;
}

#okvir{
  display: inline-block;
  padding: 5pt;
  border-radius: 5pt;
  padding-bottom: 0;
}

#table{
  width:100%;
}

#moc{
  width:150px;
}

th{
  padding-bottom: 20pt !important;
}