body {
    min-width: 900px;
}

.table {
    width: auto !important;
}

.table td, .table th {
    text-align: center;
    width: 35px;
}

.card {
    margin-bottom: 5px;
}

#buttons {
    z-index: 10;
    position: relative;
}