<head>
  <script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
  <script src='../../js-libs/jquery-3.4.1.min.js'></script>
  <link href='dihedral_group.css' rel="stylesheet">
  <link href='../../static/css/bootstrap.min.css' rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="dihedral_group.js"></script>
</head>

<body>
  <div class="col-md-12 jobs_index_middle_panels">
    <div class="card">
      <div class="card-body content" id="content">
        <div class="row my-4">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header">
                Izbira grupe
              </div>
              <div class="card-body">
                <div class="card-title">
                  Izberi število oglišč lika
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="nOfCorners" id="inlineRadio1" value="3" checked>
                  <label class="form-check-label" for="inlineRadio1">3</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="nOfCorners" id="inlineRadio2" value="4">
                  <label class="form-check-label" for="inlineRadio2">4</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="nOfCorners" id="inlineRadio3" value="5">
                  <label class="form-check-label" for="inlineRadio3">5</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header">
                Značilnosti diederske grupe
              </div>
              <div class="card-body">
                <p>Moč diederske grupe: <span id="order"></span></p>
                <p>Enota diederske grupe: r<sub>0</sub></p>
                <p>Grupa NI ciklična</p>
                <p>Grupa NI komutativna</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div id="tbl" class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-header">
                Kompozicija osnovnih operacij
              </div>
              <div class="card-body">
                <div class="card-title">
                  Razišči, kakšne operacije tvorijo različne kombinacije zrcaljenja in rotiranja:
                </div>
                <div id="table"></div>
              </div>
            </div>
          </div>
          <div id="animation" class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-header">
                Prikaz osnovnih operacij
              </div>
              <div class="card-body">
                <div id="canvas-container">
                  <svg id="canvas" xmlns="http://www.w3.org/2000/svg" version="1.1"></svg>
                </div>
                <div id="buttons"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>