<head>
  <script type="text/javascript" src="script.js"></script>
  <script type="text/javascript" src="izracunaj_polinom.js"></script>
  <script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
  <script src='../../js-libs/jquery-3.4.1.min.js'></script>
  <link href='../../static/css/bootstrap.min.css' rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Generiranje ključa
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <label>Stopnja polinoma <span id="napisStopnja">4</span> (Potrebnih točk: <span id="napisPotrebnihTock">5</span>)</label><br/>
                  <input type="range" class="custom-range form-control" style="" min="1" max="5" value="5" id="izbiraStopnje" oninput="izberiStopnjo(this.value)">
                  <br/>
                  <label>Število delov ključa <span id="napisStDelov">5</span></label><br/>
                  <input type="range" class="custom-range form-control" style="" min="1" max="5" value="5" id="izbiraDelov" oninput="izberiStDelov(this.value)">
                </div>

                <div class="col-md-6">
                  <label>Generirani polinom: </label>
                  <span id="polinom" style="font-weight: bold;"></span>
                  <br/>
                  <label>Prava vrednost ključa: </label>
                  <span id="praviKljuc" style="font-weight: bold;"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" style="margin-top: 1em;">
          <div class="card">
            <div class="card-header">
              Izračun ključa
            </div>
            <div class="card-body">
              <div class="row">
                <div id="izbiraVhoda" class="col-lg-6 col-md-12 col-sm-12">
                </div>
        
                <div class="col-lg-6 col-md-12 col-sm-12" style="text-align: center;">
                  <h3>Izračunani ključ: <span id="kljuc"></span></h3>
                </div>
                <div class="col-md-12" style="margin-top: 1em;">
                  <canvas id="graph" width="1200px" height="400px" style="max-height: 400px; width:100%; border:1px solid #6c757d;"></canvas> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</body>