#pravilnaStevila, #firstSolution{
    font-weight: bold;
    color:  rgb(5, 240, 5);
}
#prvoStevilo, #drugoStevilo, #tretjeStevilo{
    font-weight: bold;
    width:800px; 
    max-width:800px; 
    display: inline-block;
}
#innerError{
    color: darkred;
}
