body{
    padding-top: 1%;
}

.output{
    position: absolute;
    top: 18%;
    left: 0%;
}

.slika_svg_pin{
    position: absolute;
    font-size: 1.4em;
    top: 3.7%;
    right: 33%;
}

.slika_svg_tsp{
    position: absolute;
    font-size: 1.4em;
    top: 16.5%;
    right: 50.5%;


}
.slika_svg_selektor{
    position: absolute;
    font-size: 1.4em;
    top: 3.7%;
    right: 45%;

}
.slika_svg_ccnum{
    position: absolute;
    font-size: 1.4em;
    top: 3.7%;
    right: 57%;
}
/*position: absolute;
font-size: 1.2em;
top: 15%;
right: 31%
*/
.slika_svg_des{
    position: absolute;
    font-size: 1.4em;
    bottom: 41%;
    right: 36%;
}

.slika_svg_pvv{
    position: absolute;
    font-size: 1.4em;
    bottom: 30%;
    right: 45%;

}

#frame_app{
    display: inline-block;
    padding: 5pt;
    border-radius: 5pt;
  }
