
html * { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:black;
}

* {
    box-sizing: border-box;
    margin: 2pt;
  }

  .log {
    border: 1px solid gray;
    width: 400px;
    height: 80px;
    overflow-y: scroll;
    margin-bottom: 20px;
  }
  .status {
    /* color: green; */
    font-weight: bold;
  }


  .slidecontainer {
    width: 100%
  }

  .log{
    width:0;
    height:0;
    border: none;
  }

  #sliderStDelavcev{
    width: 80%;
  }

  #mainlog{
    width:100%;
    padding: 10pt;
    height: 120px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5);

  }

  #okno{
    background-color: rgba(1,163,217,0.1);
    width:100%;
    padding: 10pt;
    margin: 0;
    display: inline-block;
    border-style: solid;
    border-color: lightgray;
  }

  #gesla{
    float: right;
    padding-right: 50pt;
  }

  #nopad{
    padding: 0 0 0 10pt;
  }

  address.author{
    font-size: x-small;
  }

  .btn-primary {
    background-color: rgba(1,163,217,0.5) !important;
    color: black !important;
  }

  .btn-primary:hover {
    background-color: rgba(1,163,217,1) !important;
  }