html * { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

button{
    border:none;
    text-align: center;
    cursor: pointer;
    background-color: #3CBC8D;
    color: white;
    height: 40px;
    border-radius: 2px;
    font-size:16px;
}

input{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    border-radius: 2px;
    color: white;
    font-size: 16px;
}

#demo {
    width: 300px;
    height: 40px;
}

#loki {
    color: #3CBC8D;
    font-weight: 600;
}
