<head>
  <script type="text/javascript" src="produktne_grupe.js"></script>
  <script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
  <script src='../../js-libs/jquery-3.4.1.min.js'></script>
  <link href='../../static/css/bootstrap.min.css' rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
    .sub{  
      vertical-align: sub;  
      font-size: 10px;  
    }  
  </style>
</head>

<body>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6" style="margin-top: 1em;">
          <div class="card">
            <div class="card-header">
              Izbira parametrov grupe
            </div>
            <div class="card-body">
              <span id="napaka" class="text-danger"></span>
              <div class="form-group">
                <label>Število grup</label>
                <select class="form-control" id="stevilo-grup">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
              <div id="izbrane-gurpe">

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="margin-top: 1em;">
          <div class="card">
            <div class="card-header">
              Značilnosti produktne grupe
            </div>
            <div class="card-body">
              <p>Moč produktne grupe: <span id="moc-grupe"></span></p>
              <p>Enota produktne grupe: <span id="enota-grupe"></span></p>
              <p>Grupa <span id="ciklicna"></span> ciklična<span id="razlaga"></span></p>
              <p id="generatorjiP">Generatorji produktne grupe: <span id="generatorji"></span></p>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="margin-top: 1em;">
          <div class="card">
            <div class="card-header">
              Cayleyjeva tabela
            </div>
            <div class="card-body">
              <span id="izracun"></span>
              <br />
              <br />
              <div id="caylay-tabela" style="overflow: auto; max-height: 500px;">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6" style="margin-top: 1em; display: none;" id="planeti">
          <div class="card">
            <div class="card-header">
              Generiranje elementov
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="fomr-group">
                    <span id="zacetniElement"></span>
                    <button class="btn btn-default" onclick="nastaviZacetniElement()">Nastavi začetni element</button>
                    <button class="btn btn-default float-right" onclick="naslednjaVrednost()">En korak</button>
                    <button class="btn btn-default float-right" style="margin-right: 1ex;" onclick="predvajaj()" id="predvajajGumb">Predvajaj</button>
                  </div>
                </div>
              </div>
              <canvas id="planeti-canvas" height="600" width="600"></canvas>
              <p>Generirani elementi:</p>
              <div id="generirani-elementi" style="max-height: 200px; overflow: auto;"></div>
            </div>
          </div>
        </div>

      </div>
      
    </div>
  </div>
</body>