* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    padding-left: 5px;
    padding-top: 5px;
    padding:200;
    margin:200;
    height: 100vh;    
}

.button{
    text-align: center;
    margin-left: 158px;
}

#test{
    margin-left: 80px;
}

#cliclCrne #clickRdece{
    display: inline-flex;
    align-items: center
}
