* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  height: auto !important;
  display: flex;
  font-family: 'Work Sans', sans-serif;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .rng {
    overflow: hidden;
    height: 20px;
  }
}

#tab {
  border-collapse: collapse;
  text-align: right;
}
#tabrez {
  border-collapse: collapse;  
}
.vodo {
  display: inline-block;
}

.modul {
  text-decoration: underline;
}

.container {
  margin: 15px;
  display: inline-block;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  justify-content: center;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #004667;
  width: 300px;
  height: 120px;
}

.box-minmax {
  position: absolute;
  top: 45px;
  left: 8px;
  margin-top: 30px;
  width: 270px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  color: #FFFFFF;
}
.box-minmax span:first-child {
  margin-left: 10px;
}

.range-slider {
  margin-top: 30vh;
  margin-left: -16px;
}

.rs-range {
  position: absolute;
  top: 27px;
  left: -4px;
  margin-top: 29px;
  margin-left: 20px;
  width: 256px;
}

.rs-label {
  position: absolute;
  transform-origin: center center;
  top: -10px;
  display: block;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  box-sizing: border-box;
  border: 2px solid #fff;
  margin-top: 20px;
  margin-left: 32px;
  left: -25px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
}
.speedBox {
  text-align: center;
  margin: 20px 10px;
}

.vhod{
  margin: 5px;
}
.rezultat{
  border: 1px solid black;
  display: inline-block;
}
table{
  font-size: 15px;
  font-weight:bold;
  text-align: center;
  font-style: italic;
  border-collapse: collapse; 
}
tr:first-child{
  border-bottom: 1px solid black;
}
td {
  width: 20px;
}
.rezBox{
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
  visibility: hidden;
  width: 400px;
}
.blok {
  display: inline-block;
  vertical-align: top;
  margin: 0px 80px;
}