<template>
  <div class="runMe">
    <div class="container">
      <span v-html="title"></span>
      <div class="vsebnik text-left">
        <codemirror class="codeM" ref="cmEditor" v-model="code" :options="cmOptions"/>
      </div>

      <div class="terminal text-left"
           v-html="izhodMsg + (runResults && runResults.toString().includes('newline') ? runResults.split('newline').join('<br>') : runResults)"></div>

      <div class="text-right">
        <button class="btn btn-success" @click.prevent="runCode"><i class="fa fa-play"></i></button>
      </div>

    </div>
  </div>
</template>

<script>
import 'codemirror/mode/javascript/javascript.js'

import 'codemirror/lib/codemirror.css'
import 'codemirror/theme/base16-dark.css'

let bigInt = require("big-integer");
window.bigInt = bigInt;
export default {
  name: "codeRunner",
  data() {
    return {
      runResults: '',
      cmOptions: {
        tabSize: 4,
        mode: 'text/javascript',
        theme: 'default',
        lineNumbers: true,
        line: true,
        // scrollbarStyle: null
        // more CodeMirror options...
      }
    }
  },
  props: ['title', 'code', 'context'],
  methods: {
    runCode() {
      let code = "";
      if (this.context) {
        code = this.context;
      }
      this.runResults = eval(code + this.code)
      // alert(this.runResults)
    },
    onCmReady(cm) {
      console.log('the editor is readied!', cm)
    },
    onCmFocus(cm) {
      console.log('the editor is focused!', cm)
    },
    onCmCodeChange(newCode) {
      console.log('this is new code', newCode)
      this.code = newCode
    }
  },
  computed: {
    izhodMsg() {
      if (this.runResults == '') {
        return 'Izhod:'+'<br>';
      } else {
        return '';
      }
    },
    codemirror() {
      return this.$refs.cmEditor.codemirror
    }
  },
  mounted() {
    console.log('the current CodeMirror instance object:', this.codemirror);
    let lines = this.codemirror.lineCount();

    this.codemirror.setSize(null, lines * 20);
  },

}
</script>

<style scoped>
.runMe {
  margin-bottom: 2em;
  margin-top: 1em;
}

.codeM {
  border: 1px solid #eee;

}

.terminal {
  border: 1px solid grey;
  color: black;
  background-color: white;;
  word-wrap: break-word;
  margin-top: 0em;
  margin-bottom: 1em;
  min-height: 1.5em;
  padding: 1em;
}


</style>
