<template>
  <div class="hello">
    <h1>{{ msg }}</h1>


    <div class="container">
      <!--      Skrivno sporočilo, ki ga želite poslati je:-->

      <div class="inter-title">
        Kodiranje niza znakov v število
      </div>

      <b-container>

        <b-row>
          <b-col class="center">Vnesite vaše sporočilo:</b-col>
          <b-col class="center">
            <b-form-input
                id="textarea-code"
                v-model="message"
                placeholder="Vnesi niz znakov"
                no-resize
                :formatter="shorterMsg"
                size="md">
            </b-form-input>
          </b-col>
          <b-col></b-col>
          <b-col></b-col>
        </b-row>
        <!--            <b-form-textarea-->
        <!--                    id="textarea-code"-->
        <!--                    v-model="message"-->
        <!--                    placeholder="Vnesi niz znakov"-->
        <!--                    rows="1"-->
        <!--                    max-rows="1"-->
        <!--                    no-resize-->
        <!--                    size="md"-->
        <!--            ></b-form-textarea>-->
      </b-container>
      <code-runner :code="encodeStringCode" title=""></code-runner>
      <!--      Številsko predstavljeno kot: <br><b>{{// number}}</b>-->


      <br> <br>
      <!-- <code-runner :code="codeKodiranjeNizaVStevilo" title="kodiranje niza znakov v število"></code-runner> -->
      <div class="inter-title">Generiranje praštevila</div>
      <b-container>
        <b-row>
          <b-col>Priprava naključnega</b-col>
          <b-col>
            <b-form-input :formatter="maxBits" min="10" max="512" v-model="digitsLongs" type="number"></b-form-input>
          </b-col>
          <b-col>bitnega praštevila</b-col>
        </b-row>
      </b-container>

      <code-runner :context="rsaContext" :code="generateLargePrimeCode" title=""></code-runner>

      <div class="inter-title">Računanje inverza števila</div>
      <b-container>
        <b-row>
          <b-col></b-col>
          <b-col>
            <b-form-input min="1" v-model="numberA" type="number"></b-form-input>
          </b-col>
          <b-col>mod</b-col>
          <b-col>
            <b-form-input min="2" v-model="numberN" type="number"></b-form-input>
          </b-col>
          <b-col></b-col>
        </b-row>
      </b-container>
      <code-runner :code="computeInverseCode" title=""></code-runner>


      <div class="inter-title">Kvadriraj in zmnoži</div>
      <b-container>
        <b-row>

          <b-col></b-col>
          <b-col>
            <b-form-input min="1" v-model="numberX" type="number"></b-form-input>
          </b-col>
          <b-col sm="1">^</b-col>
          <b-col>
            <b-form-input min="1" v-model="numberY" type="number"></b-form-input>
          </b-col>
          <b-col sm="1">mod</b-col>
          <b-col>
            <b-form-input min="1" v-model="numberP" type="number"></b-form-input>
          </b-col>
          <b-col></b-col>
        </b-row>
      </b-container>


      <code-runner :code="squreAndMultiplyCode" title=""></code-runner>

      <div class="inter-title">RSA algoritem</div>
      <code-runner :context="rsaContext" :code="rsaCode" title=""></code-runner>

    </div>

  </div>
</template>

<script>
import CodeRunner from './CodeRunner'

export default {
  name: 'HelloWorld',
  methods: {
    maxBits(e) {
      return String(e).substring(0, 3);
    },
    shorterMsg(e) {
      return String(e).substring(0, 30);
    },
  },
  data() {
    return {
      message: 'Pozdravljeni',
      digitsLongs: 10,
      numberA: 3,
      numberN: 10,
      numberX: 3,
      numberY: 5,
      numberP: 5,
      // codeKodiranjeNizaVStevilo: '',
    }
  },
  components: {
    'code-runner': CodeRunner
  },
  mounted() {
  },
  props: {
    msg: String
  },
  computed: {
    encodeStringCode() {
      return `
char[] alphabet = "abcdefghijklmnopqrstuvwxyz".toCharArray();

/**
* Kodiranje niza znakov v število
* @param msg
* @returns {bigint}
*/
function encodeString(msg) {
    let newString = "";
    for (let i = 0; i < msg.length; i++) {
        newString += msg.charCodeAt(i);
    }
    return BigInt(newString);

}
encodeString("${this.message}");`
    },
    generateLargePrimeCode() {
      return `
/**
 * Poišče veliko n-bitno praštevilo
 * @param n
 * @returns {bigint}
 */
function findLargePrime(n) {
    let k = 50;
    let startingPrime = generateBigPrimeCandidate(n);

    while(true) {
        if (isPrimeMiller(startingPrime, k)) break;
        startingPrime += 2n;
    }

    return startingPrime;
}
findLargePrime(${this.digitsLongs})
`
    },
    computeInverseCode() {
      return `
/**
 * Izračuna inverz a mod n
 * @param a
 * @param n
 * @returns {bigint}
 */
function extended_gcd(a, b) {
    var old_r, r, old_s, s, old_t, t;
    [old_r, r] = [a, b];
    [old_s, s] = [1n, 0n];
    [old_t, t] = [0n, 1n];

    while (r != 0n) {
        var quotient = old_r / r;
        [old_r, r] = [r, old_r - quotient * r];
        [old_s, s] = [s, old_s - quotient * s];
        [old_t, t] = [t, old_t - quotient * t];
    }
    return [old_r, old_s, old_t];
}

function inverse(a, n) {
  return extended_gcd(a,n)[1] + n;
}

inverse(${this.numberA}n,${this.numberN}n);
      `
    },
    squreAndMultiplyCode() {
      return `/**
 * Z algoritmom kvadriraj in zmnoži izračuna x^y mod p
 * @param x
 * @param y
 * @param p
 * @returns {bigint}
 */
function power(x, y, n) {
    if (y == 0n) return 1n;
    let z = 1n;
    while (y > 1n) {
        if (y % 2n == 0n) {
            x =  x * x % n;
            y = y / 2n;
        } else {
            z = x * z % n;
            x = x * x % n;
            y = (y - 1n) / 2n;
        }
  }
  return x  * z % n;
}
power(${this.numberX}n,${this.numberY}n,${this.numberP}n)`;
    },

    rsaCode() {
      return `
/**
 * Prikaz delovanja RSA algoritma.
*/

function encryption(message, publicKey) {
  let [encryptionExponent, publicModulus]  = publicKey
  return power(message, encryptionExponent, publicModulus);
}

function decryption(message, privateKey) {
  let [decryptionExponent, publicModulus]  = privateKey
  return power(message, decryptionExponent, publicModulus);
}

function generateKeys(securityParameter) {
    let p = findLargePrime(securityParameter);

    let q = findLargePrime(securityParameter);

    let n = p * q;

    let phiN = (p-1n)*(q-1n);

    // e more bit tuj  phi(n)
    var e;
    while(true) {
        e = BigInt(bigInt.randBetween(1n, phiN-1n).toString());
        if (extended_gcd(e, phiN)[0] == 1n) {
            break;
        }
    }

    let d = inverse(e,phiN);
    let privateKey = [d, n];
    let publicKey = [e, n];
    return [privateKey, publicKey];
}

function AnaSendBojan(characterMessage) {
    show("Sporočilo: ", characterMessage);

    // 1. Ana zgenerira javni in privatni ključ
    let privateKeyA, publicKeyA, n;
    [privateKeyA,publicKeyA] = generateKeys(101);
    show("Anin zaseben ključ: ", privateKeyA)
    show("Anin javni ključ: ", publicKeyA)

    // 2. Ana pošlje Bojanu
    let publicKeyFromA = publicKeyA;
    show("Javni ključ za Bojana: ", publicKeyFromA);

    // 3. Bojan si izbere sporočilo "${this.message}", ki ga želi šifrirati. Naprej ga zakodira v število
    // Bojan z javnim ključem Ane zašifrira sporočilo
    let encodedMessageB = encodeString(characterMessage);
    show("Zakodirano sporočilo: ", encodedMessageB);
    let cipherTextB = encryption(encodedMessageB, publicKeyFromA);
    show("Zašifrirano sporočilo: ", cipherTextB);
    // 4. Bojan pošlje zašifrirano sporočilo Ani
    let cipherTextFromB = cipherTextB;
    show("Sporočilo za Ano: ", cipherTextFromB);

    // 5. Ana dešifrira sporočilo in ga dekodira
    let encodedMessageFromB = decryption(cipherTextFromB, privateKeyA);
    show("Dešifrirano sporočilo: ", encodedMessageFromB);
    let messageFromB = decode(encodedMessageFromB);
    show("Dekodirano sporočilo: ", messageFromB);

    return outputString;
}

AnaSendBojan("${this.message}");
`
    },
    rsaContext() {
      return `

let outputString = "";
${this.encodeStringCode}

function decode(msg) {

  return "${this.message}";
}

function bitSize(characterMessage) {
    let number = encodeString(characterMessage);
    let i;
    for(i = 0; 2n**(BigInt(i.toString())) < number;i++) {

    }
    return i;


}

// function decodeString(msg) {
//     let newString = "";
//     for (let i = 0; i < msg.length; i++) {
//         newString += String.fromCodePoint(msg[i]);
//     }
//     return newString;
// }



/**
 * @param k - number of bits
 * @returns {bigint}
 */
function generateBigPrimeCandidate(k) {
    return BigInt(bigInt.randBetween(2**(k-1)+1, 2**k-1).toString()) | 1n;
}

${this.squreAndMultiplyCode}

/**
 * Probalistic test if given number is probable prime
 * @param d
 * @param n
 * @returns {boolean}
 */
function miillerTest(d, n) {

    console.assert(n > 4n);
    let a = 2n + BigInt(parseInt(Math.random()) );

    let x = power(a, d, n);

    if (x == 1n || x == n - 1n)
        return true;


    while (d != n - 1n) {
        x = (x * x) % n;
        d *= 2n;

        if (x == 1n) return false;
        if (x == n - 1n) return true;
    }

    return false;
}


/**
 * Determines if number n is prime by performing k trials
 * @param n
 * @param k
 * @returns {boolean}
 */
function isPrimeMiller(n, k) {

    if (n <= 1n || n == 4n) return false;
    if (n <= 3n) return true;

    let d = n - 1n;
    while (d % 2n == 0n)
        d /= 2n;

    for (let i = 0n; i < k; i++) {
        if (!miillerTest(d, n)) {
            return false;
        }
    }

    return true;
}

${this.generateLargePrimeCode}

/**
 * Computes general common denominator of two numbers
 * @param a
 * @param b
 * @returns {*}
 */
function gcd(a, b) {
    if (!b) {
        return a;
    }

    return gcd(b, a % b);
}

/**
 * Chooses encryption exponent
 * @param phiN
 * @param maxPrime
 * @returns {bigint}
 */
function findE(phiN, securityParameter) {

    // A Method for Obtaining DigitalSignatures and Public-Key Cryptosystems by R.L. Rivest, A. Shamir, and L. Adleman
    // Any prime number greater than max(p,q) will do.
    // let startingE = BigInt(bigInt.randBetween(1, phiN-1).toString());
    //
    // while(true) {
    //
    //     if (extended_gcd(startingE,phiN)[0] == 1n) {
    //         break;
    //     }
    //     startingE += 2n;
    //
    // }
    return 3n;

}

${this.computeInverseCode}

/**
 * Prints the messages on the standard ouput or returns them
 * @param message
 * @returns {*[]}
 */
function show(...message) {

    let myString = "";
    for (let i = 0; i < message.length; i++) {
      if (i != 0) {
          myString += " ";
      }
      if (typeof message[i] != "string") {
        myString += message[i].toString().replace(',', ', ');
      } else {
        myString += message[i].toString()
      }
    }
    outputString += myString + "newline";
    return myString;
    // if (typeof message != "string") {
    //   return message.toString().replace(',', ', ');
    // } else {
    //   return message[1].toString().replace(',', ', ');
    // }
    //
    // let cons = false;
    // if (cons) {
    //     console.log(message[0],message[1])
    // } else {
    //     let sporocilo = "";
    //
    //     if (typeof message[1] != "string" && message[1].length == 2) {
    //     console.log(message[1]);
    //       sporocilo = message[1].toString().replace(',', ', ');
    //     } else {
    //       sporocilo = message[1].toString().replace(',', ', ');
    //     }
    //
    //     outputString += ("<b style='color: red;'>"+message[0]+"</b>" + (message[1].toString().replace(',', ', ')) + "newline");
    //     return message;
    // }

}`;
    },
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.inter-title {
  margin-bottom: 1em;
  font-size: 1.5em;

}

</style>
