html * { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  #okno{
    display: inline-block;
    padding: 10pt 5pt 14pt 5pt;
    background-color: rgba(1,163,217,0.1);
    width:100%;
    border-style: solid;
    border-color: lightgray;
  }

  .btn-primary {
    background-color: rgba(1,163,217,0.5) !important;
    color: black !important;
  }

  .btn-primary:hover {
    background-color: rgba(1,163,217,1) !important;
  }

  #presetList{
    width:95%;
  }

  textarea{
    font-size: 12px !important;
  }