@keyframes example {
    0% {
        opacity: 0;
    }
    50%{
      opacity: 1;
    }
}

#main-container {
    border: black;

}

#demo_image_0 {
    animation-name: example;
    animation-duration: 2s; 
}    
