<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
<script src='../../js-libs/jquery-3.4.1.min.js'></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<script>
    function hexString(buffer) {
        const byteArray = new Uint8Array(buffer);
                
        const hexCodes = [...byteArray].map(value => {
            const hexCode = value.toString(16);
            const paddedHexCode = hexCode.padStart(2, '0');
            return paddedHexCode;
        });
        return hexCodes.join('');
    }
    function ascii_to_hexa(str) {
        var arr1 = [];
        for (var n = 0, l = str.length; n < l; n ++) {
            var hex = Number(str.charCodeAt(n)).toString(16);
            arr1.push(hex);
        }
        return arr1.join('');
    }
    function convertToHex(str) {
        var hex = '';
        for(var i=0;i<str.length;i++) {
            hex += ''+str.charCodeAt(i).toString(16);
        }
        return hex;
    }
    function toHexString(byteArray) {
        return Array.from(byteArray, function (byte) {
            return ('0' + (byte & 0xFF).toString(16)).slice(-2);
        }).join('')
    }
    function hex2a(hexx) {
        var hex = hexx.toString();//force conversion
        var str = '';
        for (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2)
            str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));
        return str;
    }
    function makeSpace(niz){
        newNiz = '';
        for(i=1;i<=niz.length;i++){
            newNiz+=niz.charAt(i-1);
            if(i%2==0){
                newNiz+=' ';
            }
        }
        return newNiz;
    }
    function digest(data, h_funkcija) {
        window.crypto.subtle.digest(h_funkcija, data).then(function(digestValue) {
            textb.innerHTML = makeSpace(hexString(digestValue));
            textb2.innerHTML = hex2a(hexString(digestValue));
            texta2.innerHTML = makeSpace(toHexString(new Uint8Array(data)));
        });
    }

    window.onload = function() {

        document.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("calc-btn").click();
            }
        });

        var fileupload = document.getElementById("file-upload");

        if (!window.File || !window.FileReader || !window.FileList || !window.Blob) {
            fileupload.classList.add("d-none");
        }

        document.getElementById("calc-btn").addEventListener("click", function() {   //funkcija za izpis besedila in hash-a
            
            // Get the function to be used
            var m = document.getElementById("hashFunction");
            var h_funkcija = m.options[m.selectedIndex].value;
            var besedilo = document.getElementById("text").value;
            if(h_funkcija != "default") {
                // Get the text to be hashed
                if (fileupload != null && fileupload.files.length > 0) {
                    var reader = new FileReader();
                    reader.readAsArrayBuffer(fileupload.files[0]);

                    reader.onload = function (evt) {
                        digest(reader.result, h_funkcija);
                    }
                } else if(besedilo!=""){
                    const encoder = new TextEncoder();
                    const data = encoder.encode(besedilo);
                    digest(data, h_funkcija);
                }
                else{
                    textb.innerHTML="";
                    textb2.innerHTML="";
                    texta2.innerHTML="";
                }
            }
        });
    };
</script>

<!--<script src="./www/hash_funkcije.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="./www/hash_funkcije.css">-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--<div id='hash_funkcije'></div>-->

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <label for="basic-url">Vhodna datoteka</label>
                <div class="input-group mb-3 custom-file">
                    <input id="file-upload" class="custom-file-input" type="file" />
                    <label class="custom-file-label" for="file-upload" data-buttonText="Poišči">Izberi datoteko</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="basic-url">Vhodno besedilo</label>
                <div class="input-group mb-3">
                    <textarea class="form-control" id="text"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="warn"></div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-primary" type="button" id="calc-btn">Izračunaj</button>
                    </div>
                    <select class="custom-select" name="hashFunction" id="hashFunction">
                        <option value="default" selected>Izberi zgoščevalno funkcijo...</option>
                        <option value="SHA-1">SHA-1</option>
                        <option value="SHA-256">SHA-256</option>
                        <option value="SHA-384">SHA-384</option>
                        <option value="SHA-512">SHA-512</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="basic-url">Vhodno besedilo v šestnajstiškem zapisu</label>
                <div class="input-group mb-3">
                    <textarea class="form-control" id="texta2" readonly></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="basic-url">Zgoščena vrednost v šestnajstiškem zapisu</label>
                <div class="input-group mb-3">
                    <textarea class="form-control" id="textb" readonly></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="basic-url">Zgoščena vrednost v besedilu</label>
                <div class="input-group mb-3">
                    <textarea class="form-control" id="textb2" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
</body>