<head>
	<script type="text/javascript" src="koda.js"></script>
	<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
    <script src='../../js-libs/jquery-3.4.1.min.js'></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
    	#tab {
    		border-collapse: collapse;
    		text-align: right;
		}
		
		td{
			text-align: center;
		}
		* { 
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
		}
    </style>
</head>
<body>
	<div class="card">
		<div class="card-body">
			<form id="form">
				<div class="form-group">
					<label for="a">Vnesi modul</label>
					<input type="text" id="a" class="form-control col-3" pattern="[0-9-]+" required="required"
						oninvalid="setCustomValidity('Prosim vnesi podatek zahtevane oblike.')"
						oninput="setCustomValidity('')"></input>
				</div>
				<div class="form-group">
					<label for="b">Vnesi število, katerega iščeš inverz</label>
					<input type="text" id="b" class="form-control col-3" pattern="[0-9-]+" required="required"
						oninvalid="setCustomValidity('Prosim vnesi podatek zahtevane oblike.')"
						oninput="setCustomValidity('')"></input>
				</div>
				<input type="submit" value="Začni!" class="btn btn-primary" id="zacniBtn">
			</form>
			<strong><p id="err" style="font-style: italic;"></p></strong>
			<table id="tab" class="table"></table>
			<strong><p id="rezultat" style="font-style: italic;"></p></strong>
		</div>
	</div>
</body>