<head>
	<script type="text/javascript" src="koda.js"></script>
	<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
	<script src='../../js-libs/jquery-3.4.1.min.js'></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href='../../static/css/bootstrap.min.css' rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="">
		<div class="col-md-12 row">
			<div class="col-md-6">
				<div>
					<label for="a">Vnesi a</label>
					<input type="text" class="form-control" id="a" value="3"></input>
				</div>
				<div>
					<label for="n">Vnesi n</label>
					<input type="text" class="form-control" id="n" value="5"></input>
				</div>

				<div style="margin-top: 1ex;">
					<input type="button" class="btn btn-default" id="reset" value="Reset"></input>
					<input type="button" class="btn btn-default" id="ns" value="Naslednji korak!"></input>
				</div>
				<p id='message'></p>
			</div>
			<div class="col-md-6" style="text-align: center;">
				<h3 id='computedMessage'></h3>
			</div>
		</div>
		<div class="col-md-12 row">
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<div id="circDiv" style="text-align: center;">
							<canvas id="clockCanvas" width="600px" height="600px" style="max-width:500px; width:100%;"></canvas> 
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<div id="tabDiv" style="max-height: 400pt; overflow: auto;">
							<table id='table' border='1px' class="table"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>