* { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    width: auto !important;
    margin: 0;
    padding: 10px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-bottom: 20px solid black;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid rgb(0, 0, 0);
  }
  
  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 60px solid black;
  }
  
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    
    border-right:20px solid black; 
  }

  